
.article_tag {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;

}
.img_wrapper {
    position: absolute;
    width: 10rem;
    top: .5rem;
}
.img_wrapper img {
    height: 100%;
    width: 100%;
    border: 0.5rem;
    border-color: #C10202;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0 .4rem .4rem .2rem grey;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.content {
    overflow: hidden;
}
.title {
    margin:.5rem 0;
    color: #C10202;
    font-size: 2rem;
}
.time {
    font-weight:bold;
}